<div class="row">
	<h1 class="text-center">Dashboard</h1>
	  <div class="col-md-4">
	    <div class="dash-box">
			<h4 class="white uppercase">
				Books
			</h4>
		</div>
		<%= render "books" %>
		</div>
	<div class="col-md-4">
		<div class="dash-box">
			<h4 class="white uppercase">
				Purchased
			</h4>
		</div>
		<%= render "purchased" %>
	</div>
	<div class="col-md-4">
		<div class="dash-box">
			<h4 class="white uppercase">
				Sales
			</h4>
		</div>
		<%= render "sales" %>
	</div>
</div>